/Cashew_Ivorycoast.cpg
/Cashew_Ivorycoast.dbf
/Cashew_Ivorycoast.prj
/Cashew_Ivorycoast.qpj
/Cashew_Ivorycoast.shp
/Cashew_Ivorycoast.shx
/Cashew_Tanzania.cpg
/Cashew_Tanzania.dbf
/Cashew_Tanzania.prj
/Cashew_Tanzania.qpj
/Cashew_Tanzania.shp
/Cashew_Tanzania.shx
